@import '../../styles/variables.less';
@import '../../styles/mixins.less';

.chat {
	display: flex;
    flex-direction: row;
	height: 100vh;

	&__content {
		display: flex;
	    flex-direction: column;
		width: 100%;
		max-width: 331px;
		padding: 10px 0;
		box-shadow: @shadow;
		background-color: @grey-bg-color-second;
	}
	&__header {
		display: flex;
	    flex-direction: column;
		.Grey-BB();
	}
	&__search {
		display: flex;
		align-items: center;
    	gap: 10px;
		padding: 0 10px;
	}
	&__favourites {
		display: flex;
	    overflow: hidden;
		gap: 8px;
		padding: 12px 0 12px 10px;
	}
	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item-wrapper {
		padding: 12px 0;
		position: relative;
		.Grey-BB();
		&_target {
			background-color: @blue-color;
		}
		&:hover {
			cursor: pointer;
			background-color: @white-color;
		}
	}

	&__item-settings {
		position: absolute;
	    padding: 2px 10px;
	    z-index: 99;
	    background-color: white;
		box-shadow: @shadow;
		width: max-content;

		&_top {
			left: 2px;
    		bottom: -13px;
			transform: translateY(100%);
			border-radius: 0 0 12px 12px;
		}

		&_left {
			right: -1px; 
	    	top: 0;
			transform: translateX(100%);
			border-radius: 0 12px 12px 0;
		}

		div {
			padding: 8px 0;
			&:hover {
				opacity: 0.8;
			}
		}
		div:not(:last-child) {
		    .Grey-BB(); 
		}
	}

	&__item {
		gap: 12px;
		display: flex;
		flex-direction: row;
    	justify-content: space-between;
		padding: 0 10px;
	}


	&__name {
		padding-bottom: 4px;
	}

	&__info{
		display: flex;
	    gap: 12px;
	}

	&__status {
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: end;
	}

	&__upd {
		.M_Grey();
	}

	&__unreading {
		display: inline-flex;
	    justify-content: center;
	    align-items: center;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: @grey-color;
	}

	&__last-writter-text {
		.M_Grey();
	}
}

.messages {
	padding: 10px;
	height: 100vh;
	position: relative;
	width: 100%;
    display: flex;
    flex-direction: column;
	&__null-content {
		align-self: center; 
		padding-top: 40vh;
		.M_Grey();
	}
	&__header {
		display: flex;
	    justify-content: space-between;
		padding-bottom: 12px;
		.Grey-BB();
	}
	&__list {
		padding: 12px 0;
		display: flex;
    	flex-direction: column;
		gap: 12px;
	}
	&__item {
		width: fit-content;
		max-width: 45%;
		padding: 12px;
	}

	&__date {
		text-align: center;
		padding: 12px 0;
		.M_Grey();
	}

	&__sender {
		position: relative;
	    display: flex;
	    align-items: center;
	    gap: 8px;
	}
	&__actions {
		display: flex;
	    align-items: center;
	    gap: 8px;
	}

	&_to-you {
		background-color: @grey-bg-color-second;
		border-radius: 12px 12px 12px 0;
	}

	&_from-you {
		align-self: flex-end;
		background-color: @grey-bg-color-primary;
		border-radius: 12px 12px 0 12px;
	}

	&__text {
		
	}
	&__file {
		position: relative;
		img {
			width: 100%;
		}

		&-send-settings {
			position: absolute;
		    top: -25px;
		    padding: 15px;
			display: flex;
    		flex-direction: column;
			gap: 15px;
			box-shadow: @shadow;
			border-radius: @radius;
			transform: translateY(-100%);
			div {
				display: flex;
			    align-items: center;
			    gap: 15px;
				&:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}

	&__time {

	}

	&__footer {
		display: flex;
	    align-items: center;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 999;
	    background-color: @white-color;
	    margin: 0px 12px;
    	padding: 12px 0px;
		gap: 8px;
		.Grey-BT()
	}
}

.unreading {
	color: @white-color;
	background-color: @primary-color;
	border: 1px solid @primary-color;
	border-radius: 50%;
}