{{> Back page="chat" }}
{{#> Form}}
<img src={{avatar}} alt={{first_name}} class="profile__avatar avatar" />
{{> Input placeholder="Почта" error="не верная почта" class="grey" type="text" name="email" value="test@ya.ru" }}
{{> Input placeholder="Логин" error="логин занят"  class="grey" type="text" name="login" value="@You" }}
{{> Input placeholder="Имя" error="поле не может быть пустым" class="grey" type="text" name="first_name" value="Alexey" }}
{{> Input placeholder="Фамилия" error="поле не может быть пустым" class="grey" type="text" name="second_name" value="Gorbachev" }}
{{> Input placeholder="Отображаемое имя" error="слишком длинное отображаемое имя" class="grey" type="text" name="display_name" value="Алексей" }}
{{> Input placeholder="Телефон" error="не правильно введен номер" class="grey" type="tel" name="phone" title="Введите номер телефона в формате +7 999 999 99 99" isPhone=true value="+7 999 999 99 99" }}
{{> Input placeholder="Новый пароль" error="поле не может быть пустым" class="grey" type="password"  name="newPassword" value="123456" }}
{{> Input placeholder="Введите старый пароль" error="пароли совпадают" class="grey" type="password"  name="oldPassword" value="1234567" }}
{{> Button label="Изменить данные" class="primary" page="changeProfile"}}
{{> Button label="Выйти из аккаунта" class="grey" page="login"}}
	{{#> Popup}}
      <h2 class="text-error">
        Ошибка при загрузке файла.</br>Попробуйте ещё раз.
      </h2>
    {{/Popup}}
{{/Form}}