<main class="error-page">
	<div class="error-page__content">
		<div class="error-page__status">
			<div class="error-page__number">{{errorNumber}}</div>
			<div class="error-page__description">{{errorDescription}}</div>
			<div class="error-page__text">{{errorText}}</div>
		</div>
		{{> Button label="Вернуться к чатам" class="primary" page="chat"}}
	</div>
</main>